<h1>求人一覧</h1>
<% @jobs.each do |job| %>
  <div class="job">
    <div class="job-info">
      <div class="shop-name">
        <%= job.shop_name %>(<%=job.occupation.name %>)
      </div>
      <div class="salary">
        時給/<%= job.salary %>円
      </div>
    </div>
    <div class="job-detail">
      <div class="detail-btn">
        <%= link_to "詳細を見る", job_path(job.id), method: :get  %>
      </div>
    </div>
  </div>
<% end %>
